include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dimred *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dimred/migration *.ini *.py *.mako
recursive-include ckanext/dimred/public *.*
