{% import 'macros/form.html' as form %}

{% set method_options = h.dimred_allowed_methods_options() %}
{% set method_value = data.get('method', resource_view.method) if resource_view else data.get('method') %}
{% set render_backend_value = data.get('render_backend', resource_view.render_backend) if resource_view else data.get('render_backend') %}
{% if not render_backend_value %}
    {% set render_backend_value = h.dimred_render_backend_default() %}
{% endif %}
{% set color_value = data.get('color_by', resource_view.color_by) if resource_view else data.get('color_by') %}
{% set color_options = h.dimred_color_options_from_resource(resource, resource_view) %}
{% set feature_option_groups = h.dimred_feature_option_groups_from_resource(resource, resource_view) %}
{% set method_for_defaults = method_value or h.dimred_default_method() %}
{% set default_params_full = h.dimred_method_default_params(method_for_defaults) %}
{% set raw_params_value = data.get('method_params', resource_view.method_params) if resource_view else data.get('method_params') %}
{% set form_params = h.dimred_method_params_form_values(raw_params_value, method_for_defaults) %}
{% set n_components_value = data.get('n_components', resource_view.n_components) if resource_view else data.get('n_components') %}
{% if not n_components_value %}
    {% set n_components_value = default_params_full.get('n_components', 2) %}
{% endif %}
{% set defaults_map = h.dimred_methods_defaults() %}
{% set selected_features = data.get('feature_columns', resource_view.feature_columns) if resource_view else data.get('feature_columns') %}
{% if selected_features is string %}
    {% set selected_features = selected_features.split(',') %}
{% endif %}
{% if not selected_features %}
    {% set selected_features = [] %}
{% endif %}

<div class="form-group control-group">
    {{ form.select(
        'method',
        id='field-method',
        label=_('Dimensionality reduction method'),
        options=method_options,
        selected=method_value or h.dimred_default_method(),
        classes=['control-full']
    ) }}
</div>

<div class="form-group control-group">
    {{ form.input(
        'n_components',
        id='field-n-components',
        label=_('Number of components'),
        value=n_components_value,
        type='number',
        classes=['control-full'],
        attrs={'class': 'form-control'}
    ) }}
</div>

{% if feature_option_groups %}
    <div class="form-group control-group">
        <label class="form-label" for="field-feature-columns">{{ _('Feature columns') }}</label>
        <div class="controls dimred-feature-columns">
            <span class="info-block">{{ _('Leave all columns unselected to use eligible columns automatically.') }}</span>
            <div class="dimred-feature-columns__actions">
                <button class="btn btn-default" id="dimred-select-all-features" type="button">
                    {{ _('Select all') }}
                </button>
                <button class="btn btn-default" id="dimred-clear-features" type="button">
                    {{ _('Clear / automatic') }}
                </button>
            </div>
            <select
                    class="form-control"
                    data-module="autocomplete"
                    id="field-feature-columns"
                    multiple="multiple"
                    name="feature_columns"
            >
                {% for group in feature_option_groups %}
                    <optgroup label="{{ group.label }}">
                        {% for opt in group.options %}
                            <option value="{{ opt.value }}"{% if opt.value in selected_features %} selected{% endif %}>{{ opt.text }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}

<div class="form-group control-group">
    {{ form.select(
        'color_by',
        id='field-color_by',
        label=_('Color by column'),
        options=color_options,
        selected=color_value,
        classes=['control-full']
    ) }}
</div>

<div
    id="dimred-method-params"
    data-module="dimred-view-form"
    data-module-defaults="{{ h.dump_json(defaults_map) }}"
>
    <input
        id="field-method-params"
        name="method_params"
        type="hidden"
        value="{{ h.dump_json(form_params) }}"
    />

    <div class="form-group control-group">
        {{ form.input(
            'dimred_param_random_state',
            id='field-method-param-random-state',
            label=_('Random seed'),
            value=form_params.get('random_state', ''),
            type='number',
            classes=['control-full'],
            attrs={'class': 'form-control', 'data-dimred-param': 'random_state'}
        ) }}
    </div>

    <div class="dimred-method-params__group" data-dimred-method="pca"{% if method_for_defaults != 'pca' %} hidden{% endif %}>
        {{ form.checkbox(
            'dimred_param_whiten',
            id='field-method-param-whiten',
            label=_('Whiten components'),
            value='true',
            checked=form_params.get('whiten', false),
            attrs={'data-dimred-param': 'whiten'}
        ) }}
    </div>

    <div class="dimred-method-params__group" data-dimred-method="tsne"{% if method_for_defaults != 'tsne' %} hidden{% endif %}>
        {{ form.input(
            'dimred_param_perplexity',
            id='field-method-param-perplexity',
            label=_('Perplexity'),
            value=form_params.get('perplexity', ''),
            type='number',
            classes=['control-full'],
            attrs={'class': 'form-control', 'data-dimred-param': 'perplexity', 'step': 'any'}
        ) }}
    </div>

    <div class="dimred-method-params__group" data-dimred-method="umap"{% if method_for_defaults != 'umap' %} hidden{% endif %}>
        {{ form.input(
            'dimred_param_n_neighbors',
            id='field-method-param-n-neighbors',
            label=_('Number of neighbors'),
            value=form_params.get('n_neighbors', ''),
            type='number',
            classes=['control-full'],
            attrs={'class': 'form-control', 'data-dimred-param': 'n_neighbors'}
        ) }}
        {{ form.input(
            'dimred_param_min_dist',
            id='field-method-param-min-dist',
            label=_('Minimum distance'),
            value=form_params.get('min_dist', ''),
            type='number',
            classes=['control-full'],
            attrs={'class': 'form-control', 'data-dimred-param': 'min_dist', 'step': 'any'}
        ) }}
    </div>

    <button class="btn btn-default" type="button" id="dimred-reset-method-params">
        {{ _('Reset method defaults') }}
    </button>
    {% set method_params_errors = errors.get('method_params') if errors else [] %}
    {% if method_params_errors %}
        <strong class="error-inline">
            {% if method_params_errors is string %}
                {{ method_params_errors }}
            {% else %}
                {{ method_params_errors|join(', ') }}
            {% endif %}
        </strong>
    {% endif %}
</div>

<div class="form-group control-group">
    {{ form.select(
        'render_backend',
        id='field-render-backend',
        label=_('Render backend'),
        options=h.dimred_render_backend_options(),
        selected=render_backend_value,
        classes=['control-full']
    ) }}
</div>

{% asset 'dimred/dimred-js' %}
{% asset 'dimred/dimred-css' %}
